
header, footer {
    width: 100%;
    text-align: center;
}
main {
    width: 100%;
    margin-top: 20px;
}
a {
    text-decoration: none; /* Remove underline from links */
}
body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}
b.personaltitle_lightmode{
    font-weight: bold;
    font-size: 23px;
    margin-left: 10px;
    color: black;
}
b.personaltitle_darkmode{
    font-weight: bold;
    font-size: 23px;
    margin-left: 10px;
    color: white;
}
b.personalsubtitle{
    font-weight: bold;
    font-size: 23px;
    margin-left: 10px;
    color: #a000a0;
}
img.profileimg {
    width: 90px; 
    height: 90px; 
    border-radius: 50%;
}
h1, h2 {
    text-align: center;
    color: white;
}
button.lightmode {
    background-color: #a3a3a3;
    color: white; /* black; */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.3s;
    display: block;
    width: 330px; /* Set a fixed width for the button */
    word-wrap: break-word; /* Allow text to wrap */
    text-align: center;
    margin: 0 auto;
    font-size: 18px; /* Increased font size */
    margin-bottom: 20px; /* Gap underneath each button */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}
button.darkmode {
    background-color: #333333;
    color: white; /* black; */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.3s;
    display: block;
    width: 330px; /* Set a fixed width for the button */
    word-wrap: break-word; /* Allow text to wrap */
    text-align: center;
    margin: 0 auto;
    font-size: 18px; /* Increased font size */
    margin-bottom: 20px; /* Gap underneath each button */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}
button:hover {
    background-color: #797979;
}

